* {
  font-family: 'Shantell Sans', cursive;

}


#cards {
  border-radius: 10%;
}


#cityInpt {
    width: 75%;
  }

.btn1 {
    padding: 20px;
    margin: auto;
    border-radius: 5%;
}





#currentTCard {
  display: none;
}

#fiveDaFor {
  display: none;
}

#cityText {
  display: none;
}

#curWeatherBx {
  display: none;
}

#cityBox {
  display: none;
}
